<div class="container-fluid">
    <div class="row">
      <!-- Formulario de inicio de sesión a la izquierda -->
      <div class="col-md-6">
        <div class="login">
          <h2 class="login-header">OLVIDÉ MI USUARIO</h2>
          <form class="login-container">
            <p style="text-align: center;">Para recuperar el usuario de la aplicación debe proporcionar su correo electronico.
                El usuario será enviado a su correo</p>
            <p><input type="email" name="email" id="email" required placeholder="Correo"></p> 
            <p><button type="submit">Enviar usuario al Correo</button></p>

          </form>
        </div>
      </div>

      <!-- Carousel informativo a la derecha -->
      <div class="col-md-6">
        <div class="static-image-container">
          <!-- Cambia la ruta de la imagen según la ubicación de tu archivo de imagen -->
          <img src="../../../assets/imgs/userIcon.png" alt="Imagen Estática">
        </div>
      </div>
    </div>
  </div>