<div class="row contenedor">
    <div class="col-3 divFooter">
        <img class="logoeClick" src="assets/imgs/eclickTodoBlanco.png">
    </div>
    <div class="col-5 politicas">
        <div class="row filaIzquierda">
            <a class="txtPolitica" href="https://eclick-public.s3.us-east-2.amazonaws.com/varios/TERMINOS+Y+CONDICIONES+DE+USO+PLATAFORMA+DE+NEGOCIACIÓN+ECLICK.pdf" target="_blank">
                Terminos y condiciones
            </a>
            <a class="txtPolitica" href="">
                Copyright e-Digital 2017
            </a>
            <a class="txtPolitica" href="https://cbmfactoring.s3.us-east-2.amazonaws.com/index.html" target="_blank">
                Banca de inversión y Confirming
            </a>
        </div>
        <div class="row filaDerecha">
            <a class="txtPolitica" href="https://eclick-public.s3.us-east-2.amazonaws.com/varios/Politica+de+seguridad+de+la+información.pdf" target="_blank">
                Política seguridad de la información
            </a>
            <a class="txtPolitica" href="http://e-digital.com.co/" target="_blank">
                Aplicacion realizada por e-Digital S.A.S
            </a>
            <a class="txtPolitica" href="https://eclick-public.s3.us-east-2.amazonaws.com/varios/Pol%C3%ADtica+protecci%C3%B3n+datos+personales+.docx.pdf" target="_blank">
                Política de protección de datos personales
            </a>
        </div>
    </div>
    <div class="col-3 divFooter">
        <div class="col contenedorLogos">
            <span class="separador">
                <a href="https://instagram.com/eclick_cbm?igshid=MmU2YjMzNjRlOQ==" target="_blank">
                    <img class="logos" src="assets/imgs/Instagram.png" style="padding-right: 4vh;"alt="">
                </a>
            </span>
            <span class="separador">
                <a href="https://x.com/eClick_CBM?t=JscPM0aodz63onxH_wxgoQ&s=09" target="_blank">
                    <img class="logos" src="assets/imgs/twitter.png" style="padding-right: 4vh;" alt="">
                </a>
            </span>
            <span class="separadorLink">
                <a href="https://www.linkedin.com/company/eclick-cbmfactoring/" target="_blank">
                    <img class="logos" src="assets/imgs/LinkedIn.png" alt="">
                </a>
            </span>
        </div>
    </div>
</div>
