<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="height: 80vh; margin: 0;">
        <div style="height: 10%;">
            <h1 style="position: relative; left: 10%; top: 20%; width: 70%;">Factoring</h1>
        </div>
        <div class="row" style="position: relative; top: 10%; height: 45%;">
            <div class="col col-6">
                <div style="position: relative; left: 20%; top: 10%;">
                    <h2>¿Que es Factoring?</h2>
                    <p style="font-size: 1.2rem;">Es un contrato mediante el cual una empresa traspasa las facturas que ha emitido y a 
                        cambio obtiene de manera inmediata el dinero.

                    </p>
                    <p style="font-size: 1.2rem;">
                        El factoring o factoraje es una alternativa de financiamiento que se orienta de 
                        preferencia a pequeñas y medianas empresas y consiste en un contrato mediante el 
                        cual una empresa traspasa el servicio de cobranza futura de los créditos y facturas 
                        existentes a su favor y a cambio obtiene de manera inmediata el dinero a que esas 
                        operaciones se refiere, aunque con un descuento.
                    </p>
                </div>
            </div>
            <div class="col col-4">
                <img src="assets/imgs/factoring.png" alt=""
            style="height: 30vh; position: relative; top: 15%; left: 50%;">
            </div>
        </div>
        <div class="row" style="position: relative; top: 30%; height: 45%;">
            <div class="col col-6">
                <div style="position: relative; left: 20%; top: 10%;">
                    <h2>Tipos de Factoring</h2>
                    <h4>
                        Factoring con recurso
                    </h4>
                    <ul style="font-size: 1.2rem;">
                        <li>

                        El factoring con recurso consiste en aquel contrato de factoring en el que el 
                        cedente hace entrega de las facturas a la entidad de factoring, la que por su 
                        parte hace entrega inmediata de liquidez al cedente, descontando del monto entregado 
                        un porcentaje por motivo de intereses y gastos de operación. Si el deudor de la 
                        factura no efectúa el pago pactado en el documento, la entidad de factoring tendrá 
                        el derecho de reclamar directamente al cedente el dinero de la factura. De no 
                        realizarse el pago por parte del cedente de las facturas, se podría generar un 
                        juicio entre ambos.

                        
                        </li>
                    </ul>
                    <h4>
                        Factoring sin recurso
                    </h4>
                    <ul style="font-size: 1.2rem;">
                        <li>
                            El factoring sin recurso es similar a lo descrito en el punto anterior, sin 
                            embargo involucra la contratación del servicio de factoring sin que el cedente 
                            de las facturas sea responsable en caso de que el deudor no proceda al pago del 
                            documento. La responsabilidad recae directamente en la entidad de factoring a la 
                            cual se cedieron las facturas, quien no podrá proceder a exigir el dinero al 
                            cedente de las facturas, ni tampoco llevarlo a juicio.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-4">
                <img src="assets/imgs/checkList.png" alt=""
            style="height: 50vh; position: relative; top: 30%; left: 60%;">
            </div>
        </div>
    </div>
</body>
</html>
