<div class="container-fluid">
    <div class="row">
      <!-- Formulario de inicio de sesión a la izquierda -->
      <div class="col-md-6">
        <div class="login">
          <h2 class="login-header">OLVIDÉ MI CONTRASEÑA</h2>
          <form class="login-container">
            <p><input [(ngModel)]="user" name="user" id="user" required [disabled]="inputsDisabled" placeholder="Usuario"></p>
            <p><input [(ngModel)]="correo" name="correo" id="correo" type="email" [disabled]="inputsDisabled" placeholder="Correo"></p>
            <p><input name="codigo" placeholder="Codigo"></p>
            <p><input type="password" placeholder="Nueva Contraseña"></p>
            <p><input type="password" placeholder="Confirmar Nueva Contraseña"></p>
            <!-- Botones "Olvidó contraseña" y "Olvidó usuario" -->
            <div class="forgot-buttons">
              <button name="CodigoB" [disabled]="!isCodigoBEnabled()" (click)="obtenerCodigo(); disableInputs()">Obtener Codigo</button>
              <button type="button">Cancelar</button>
            </div>
            <p><button type="submit">Cambiar Contraseña</button></p>
          </form>
        </div>
      </div>
      <!-- Imagen informativa a la derecha -->
      <div class="col-md-6">
        <div class="static-image-container">
          <!-- Contenedor de la imagen -->
          <img src="../../../assets/imgs/contraEclick.jpg" alt="Imagen Estática">
          
          <!-- Contenedor del texto en negrilla encima de la imagen -->
          <div class="image-overlay">
            <p class="bold-text">	
                Para recuperar la contraseña de la aplicación debe:<br><br>
                1. Proporcionar su Usuario y correo electrónico. <br> 
                2. Presione el botón 'Obtener código'.
                ...Se enviará un código de seguridad al correo proporcionado para permitir el cambio de clave.<br>
                3. Ingrese el código de seguridad y la nueva contraseña y presione en botón 'Cambiar Contraseña'"</p>
          </div>
        </div>
      </div>
    </div>
  </div>