<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="margin: 0; background-color: #3167a7; height: 100%;">
        <div style="background-color: #5782b7; color: white; height: 20vh;display: flex; justify-content: center; ">
            <p style="font-size: 1.7rem; position: relative; top: 10%; width: 70%; text-align: center;">
                Gestione eficazmente la emisión y recepción de facturas electrónicas que le permita agilizar sus operaciones empresariales
            </p>
        </div>
        <div class="row" style="position: relative;height: 60vh;">
            <div class="col col-5">
                <div style="background-color: white; height: 20vh; position: relative; left: 5%; top: 30%; border-radius: 5vh;">
                    <h3 style="position: relative; left: 15%; top: 40%;">
                        Portal web de fácil gestión
                    </h3>
                </div>
                <!-- <div *ngIf="primeraSeccion" style="background-color: white; height: 20vh; position: relative; left: 5%; top: 20%; border-bottom-left-radius: 5vh; border-bottom-right-radius: 5vh;">
                    <p style="position: relative; left: 15%; top: 45%; font-size: 1.4rem">
                        Aprendizaje y uso rapido
                    </p>
                </div> -->
            </div>
            <div class="col col-7">
                <img src="assets/imgs/portalweb.png" alt="" style="height: 37vh; position: relative; left: 15%; top: 15%; border-radius: 5vh;">
            </div>
            
        </div>
        <div class="row" style="height: 60vh;">
            <div class="col col-5">
                <div style="background-color: white; height: 20vh; position: relative; left: 5%; top: 30%; border-radius: 5vh;">
                    <h3 style="position: relative; left: 15%; top: 30%; width: 80%;">
                        Transparencia al conocer la trazabilidad de tus facturas 
                    </h3>
                </div>
                <!-- <div *ngIf="segundoSeccion" style="background-color: white; height: 20vh; position: relative; left: 5%; top: 22%; border-bottom-left-radius: 5vh; border-bottom-right-radius: 5vh;">
                    <p style="position: relative; left: 15%; top: 35%; width: 80%; font-size: 1.4rem">
                        Podra revisar todas las facturas cargadas en plataforma
                    </p>
                </div> -->
            </div>
            <div class="col col-7">
                <img src="assets/imgs/facturas.png" alt="" style="height: 45vh; position: relative; left: 15%; top: 15%; border-radius: 5vh;">
            </div>
        </div>
        <div class="row" style="height: 60vh;">
            <div class="col col-5">
                <div style="background-color: white; height: 20vh; position: relative; left: 5%; top: 30%; border-radius: 5vh;">
                    <h3 style="position: relative; left: 10%; top: 40%;">
                        Integración con otros sistemas 
                    </h3>
                </div>
            </div>
            <div class="col col-7">
                <img src="assets/imgs/postman.png" alt="" style="height: 41vh; position: relative; left: 15%; top: 15%; border-radius: 5vh;">
            </div>
            
        </div>
        <div class="row" style="height: 60vh;">
            <div class="col col-5">
                <div style="background-color: white; height: 20vh; position: relative; left: 5%; top: 30%; border-radius: 5vh;">
                    <h3 style="position: relative; left: 10%; top: 40%;">
                        Descarga y consulta cuando quieras
                    </h3>
                </div>
            </div>
            <div class="col col-7">
                <img src="assets/imgs/descargafacts.png" alt="" style="height: 44vh; position: relative; left: 15%; top: 15%; border-radius: 5vh;">
            </div>
            
        </div>
        <div class="row" style="height: 60vh;">
            <div class="col col-5">
                <div style="background-color: white; height: 20vh; position: relative; left: 5%; top: 30%; border-radius: 5vh;">
                    <h3 style="position: relative; left: 10%; top: 40%;">
                        Adaptable a tus reglas de negocio
                    </h3>
                </div>
            </div>
            <div class="col col-7">
                <img src="assets/imgs/adaptable.png" alt="" style="height: 40vh; position: relative; left: 15%; top: 15%; border-radius: 5vh;">
            </div>
            
        </div>
        <div class="row" style="height: 60vh;">
            <div class="col col-5">
                <div style="background-color: white; height: 20vh; position: relative; left: 5%; top: 30%; border-radius: 5vh;">
                    <h3 style="position: relative; left: 5%; top: 25%; width: 95%;">
                        Funciones avanzadas como circularización de saldos para tus proveedores.
                    </h3>
                </div>
            </div>
            <div class="col col-7">
                <img src="assets/imgs/cupoprov.png" alt="" style="height: 47vh; position: relative; left: 15%; top: 15%; border-radius: 5vh;">
            </div>

        </div>
    </div>
</body>
</html>