<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row contenedor">
        <div class="row contenedorTitulos" style=" background-color: white;">
            <div class="titulos">
                <h1>eDigital</h1>
            </div>
        </div>
        <div class="row contenidoNegocio">
            <div class="col col-7 divNegocio">
                <div class="divprincipal">
                    <p class="txtprincipal">
                    Con eDigital revolucionas la gestión de la liquidez en tu empresa.

                    Contamos con un amplio portafolio de soluciones tecnológicas especializadas que involucran todo el ciclo de tus facturas: 
                    Desde la emisión hasta la venta de tus facturas.
                    </p>
                    <p class="txtprincipal">
                    ¿Cómo empresa o proveedor?
                    Podrás hacer/gestionar el factoring 
                    </p>
                    <p class="txtprincipal">
                    ¿Cómo pagador ?
                    Podrás negociar directamente las facturas con tus proveedores ahorrando tiempo y recursos
                    </p>

                </div>
            </div>
            <div class="col col-5 margenes">
                <img src="assets/imgs/edigitalnegro.png" alt=""
                style="height: 10vh; position: relative; top: 20%; left: 30%;">
            </div>
        </div>
        </div>
        <div class="row margenes">
        <div class="col col-9 margenes">
            <div style="position: absolute;">
            <h2 class="txtfrase">"Eficiencia es hacer mejor lo que ya se está haciendo".  Peter Drucker</h2>
            <p class="txtsecundario" style="margin-top: 15%">
                Nuestras unidades de negocio
            </p>
            <ul class="txtsecundario">
                <li class="txtlista">
                eClick :
                Desarrollamos una solución tecnológica de negociación electrónica donde podrás realizar Factoring,  Confirming y registrar los eventos ante el RADIAN. 
                </li>
                <li class="txtlista">
                CBM Factoring :
                Somos una empresa líder en servicios financieros ofreciendo soluciones de intermediación y facilitación en transacciones comerciales donde puedes 
                anticipar hasta el 100% del valor facturado.
                </li>
            </ul>
            <!-- <p>
                Además contamos con fondeadores 
                [Bloque logos]
        
                Bloque iconos :
                Adoptamos la implementación del  sistema de gestión de seguridad de la información (SGSI) basado en la norma ISO 27001 para que cuentes con la confianza que requiere el manejo de tus transacciones.
        
                Todas nuestras soluciones cuentan con infraestructura alojada en la nube
        
                Estamos ubicados en la ciudad de Bogota con alcance en toda Colombia/LATAM.
        
            </p> -->
            </div>
            <img src="assets/imgs/fondocubos.jpg" alt="" style="height: 148vh;">
        </div>
    </div>
</body>
</html>