<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="background-color: #51a4db; height: 90vh; margin: 0;">
      <div style="color: white; height: 20%;">
        <h1 style="position: relative; left: 10%; top: 20%; width: 70%;">Nuestros Clientes</h1>
      </div>
      <div class="row" style="margin: 0; height: 80vh;">
        <div class="col">
          <div id="carruselPagadores" class="carousel slide" data-bs-ride="carousel" style="position: relative; top: 25%;">
            <div class="carousel-inner" style="height: 100%; width: 100%;">
              <div class="carousel-item active" data-bs-interval="2000" style="position: relative; left: 10%;">
                <img src="assets/imgs/pagadores/alsea.png" style="height:12vh; padding-right: 12vh;" alt="alsea">
                <img src="assets/imgs/pagadores/dominos.png" style="height: 20vh; padding-right: 12vh;" alt="dominos">
                <img src="assets/imgs/pagadores/edatel.png" style="height: 25vh; padding-right: 12vh;" alt="edatel">
                <img src="assets/imgs/pagadores/emtelco.png" style="height: 10vh;" alt="emtelco">
              </div>
              <div class="carousel-item" data-bs-interval="2000" style="position: relative; left: 10%;">
                <img src="assets/imgs/pagadores/orbitel.png" style="height: 30vh; padding-right: 12vh;" alt="orbitel">
                <img src="assets/imgs/pagadores/flamingo.png" style="height: 10vh; padding-right: 12vh;" alt="flamingo">
                <img src="assets/imgs/pagadores/cafam.png" style="height: 12vh; padding-right: 12vh;" alt="cafam">
                <img src="assets/imgs/pagadores/tigo.png" style="height: 15vh; padding-right: 12vh;" alt="tigo">
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carruselPagadores" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carruselPagadores" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
