@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
    background: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
  }
  
  .login {
    width: 400px;
    margin: 50px auto;
    font-size: 16px;
  }
  
  .login-header {
    background: #ffffff;
    padding: 3px;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #212529;
  }
  
  .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .g-recaptcha {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }



  .login-container button {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%; /* Ancho completo por defecto */
  }
  
  .login-container button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }

.forgot-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.forgot-buttons button {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px; /* Añade un pequeño margen entre los botones */
  height: 30px;
  font-size: 12px;
}

.forgot-buttons button:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

  .container-fluid {
    width: 100%;
  }
  
  .static-image-container {
    height: 90vh;
    width: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    overflow: hidden;
  }
  
  .static-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
