<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="row" style="margin: 0; padding: 0;">
      <div class="row" style="margin: 0; padding: 0; height: 10vh;">
        <div style="text-align: center;">
          <h1 style="position: relative; top: 20%;">Nuestro equipo</h1>
        </div>
      </div>
      <div class="row" style="margin: 0; padding: 0;">
        <p style="font-size: 1.8rem;">
          Contamos con más de 7 años de experiencia profesional apoyando diversos sectores
        </p>
        <div class="col-10" style="position: relative; left: 10%;">
          <img src="assets/imgs/equipo/Alejandra.png" style="height:40vh;" alt="alsea">
          <img src="assets/imgs/equipo/Alejandro.png" style="height: 40vh;" alt="dominos">
          <img src="assets/imgs/equipo/Bridgette.png" style="height: 40vh;" alt="emtelco">
          <img src="assets/imgs/equipo/Belisario.png" style="height: 40vh;" alt="edatel">
          <img src="assets/imgs/equipo/LuzDary.png" style="height: 40vh;" alt="flamingo">
          <img src="assets/imgs/equipo/Jonathan.png" style="height: 40vh;" alt="orbitel">
          <img src="assets/imgs/equipo/Martin.png" style="height: 40vh;" alt="cafam">
          <img src="assets/imgs/equipo/Jessika.png" style="height: 40vh;" alt="cafam">
        </div>
      </div>
    </div>
</body>
</html>