<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="margin: 0; padding: 0;">
        <div class="row" style="margin: 0; padding: 0; height: 10vh;">
          <div style="text-align: center;">
            <h1 style="position: relative; top: 20%;">RADIAN</h1>
          </div>
        </div>
        <div class="row" style="margin: 0; padding: 0;">
          <div class="col col-5" style="position: relative; top: 30%;">
            <div style="position: relative; left: 20%;">
              <h4>¿Que es RADIAN?</h4>
              <p style="text-align: justify; line-height: 1.8; font-size: 1.2rem;">
                RADIAN es la plataforma administrada por la DIAN, donde se registra la “hoja de vida” 
                de las Facturas Electrónicas como Título Valor, a través de los eventos que se le asocian;
                entre otros, el endoso, el cual te facilita la comercialización de las facturas en operaciones
                como el factoring electrónico, generando confianza a las personas, empresas e inversionistas 
                sobre el tenedor legítimo de la factura electrónica y su disponibilidad para ser negociada.
              </p>
            </div>
          </div>
          <div class="col col-4" style="padding: 0;">
            <img src="assets/imgs/radian2.png" alt=""
            style="height: 50vh; position: relative; top: 20%; left: 50%;">
          </div>
        </div>
        <div class="row" style="margin: 0; padding: 0; position: relative; top: 15vh;">
          <div class="col col-4" style="padding: 0;">
            <img src="assets/imgs/radian3.png" alt=""
            style="height: 50vh; position: relative; top: 20%; left: 20%;">
          </div>
          <div class="col col-5" style="position: relative; top: 50%; left: 10%;">
            <div style="position: relative;">
              <h4>Quien administra el RADIAN?</h4>
              <p style="text-align: justify; line-height: 1.8; font-size: 1.2rem;">
                Esta herramienta es administrada por La Unidad Administrativa Especial Dirección de Impuestos
                y Aduanas Nacionales – DIAN.
              </p>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0; padding: 0;">
          <div class="col col-5" style="position: relative; top: 100%; left: 10%;">
            <div style="position: relative;">
              <h4>¿Cual es su objeto?</h4>
              <p style="text-align: justify; line-height: 1.8; font-size: 1.2rem;">
                El registro de las facturas electrónicas, consideradas como título valor,
                que circulen en el territorio nacional y permita su completa trazabilidad.
              </p>
            </div>
          </div>
          <div class="col col-4" style="padding: 0;">
            <img src="assets/imgs/radian4.png" alt=""
            style="height: 50vh; position: relative; top: 70%; left: 50%;">
          </div>
        </div>
      </div>
</body>
</html>