<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="height: 80vh; margin: 0;">
        <div style="height: 10%;">
            <h1 style="position: relative; left: 10%; top: 20%; width: 70%;">Confirming</h1>
        </div>
        <div class="row" style="position: relative; top: 10%; height: 45%;">
            <div class="col col-6">
                <div style="position: relative; left: 20%; top: 10%;">
                    <h2>¿Que es Confirming?</h2>
                    <p style="font-size: 1.4rem;">El Confirming es un servicio financiero que permite gestionar los pagos de una 
                    empresa a sus proveedores. La entidad financiera que ofrece el Confirming adelanta el 
                    importe de la factura en cuestión al proveedor, que podrá cobrar esta factura de manera 
                    anticipada financiándola, antes de su fecha de vencimiento.</p>
                </div>
            </div>
            <div class="col col-4">
                <img src="assets/imgs/confirming.png" alt=""
            style="height: 30vh; position: relative; top: 15%; left: 50%;">
            </div>
        </div>
        <div class="row" style="position: relative; top: 30%; height: 45%;">
            <div class="col col-6">
                <div style="position: relative; left: 20%; top: 10%;">
                    <h2>Tipos de Confirming</h2>
                    <ul style="font-size: 1.2rem;">
                        <li>
                            Confirming estándar: es la modalidad mediante la cual el banco gestiona los pagos de su cliente a sus proveedores, ofreciéndoles a estos la opción de anticipar sus facturas pendientes de cobro.
                        </li>
                        <li>
                            Pronto pago financiado: en esta modalidad el cliente y el proveedor pactan una fecha de pago anterior a la del vencimiento de la factura, a cambio se negocia un descuento por pronto pago de la factura. En esta opción de Confirming el cliente envía al banco la factura que tiene que pagar, abonando al momento al proveedor, financiando así al cliente hasta el vencimiento originario de las facturas, fecha en la que carga en cuenta el importe adelantado, más comisiones e intereses.
                        </li>
                        <li>
                            Pago financiado: en este tipo de Confirming el cliente paga la factura a su proveedor en la fecha de vencimiento, y financia dicho pago a un determinado plazo, transcurrido el cual el banco le cargará en cuenta el pago financiado, más comisiones e intereses.
                        </li>
                    </ul>
                    <p style="font-size: 1.2rem;"> 
                        El Confirming también se puede clasificar en función de quién asume el riesgo de impago:    
                    </p>
                    <ul style="font-size: 1.2rem;">
                        <li>
                            Confirming sin recurso: el proveedor no asume ningún riesgo en caso de impago por parte del cliente.
                        </li>
                        <li>
                            Confirming con recurso: el proveedor asume el pago, en el caso de un impago por parte del cliente.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-4">
                <img src="assets/imgs/checkList.png" alt=""
            style="height: 50vh; position: relative; top: 30%; left: 60%;">
            </div>
        </div>
    </div>
</body>
</html>
